.ArticleCreatePage {
  display: flex;
}

// добавляем отступ только в приложении (не в storybook)
@media screen and (max-width: 1800px) {
  body:has(> div#root) {
    .ArticleCreatePage {
      height: calc(87vh - 180px);
      position: relative;
      top: 100px;
    }
  }
}
