/*
  <div className="modal">            <div className="block">
      <div className="open" />   и      <div className="open" />
  </div>                             </div>

  В конечном бандле будет конфликт классов 'open'

  Решения:
      1. 'БЭМ': классы вида 'modal__element_open' и 'block__element_open' задаются пользователем согласно методологии

      2. 'CSS-modules': генерируются уникальные изолированные классы для элементов:
           'src-shared-ui-redesigned-Modal-Modal-module__open--aQxs4' и
           'src-shared-ui-redesigned-Block-Block-module__open--zXJUs'
*/

/*
  Использование 'CSS' переменных:

  --primary-color: #FFF - создание переменной

   color: var(--primary-color) - использование переменной
*/

/*
  '.eot' шрифты устарели, нужны для поддержки 'IE': https://caniuse.com/?search=eot
  '.ttf' полноценные системные шрифты, их не следует использовать в веб-приложениях, могут быть проблемы с лицензиями
  '.woff' лучше не использовать, а брать следующую версию '.woff2' (лучше сжатие)
*/
@use 'fonts';

@use 'reset';

@use 'themes/normal';
@use 'themes/dark';
@use 'themes/orange';

@use 'toast';

@use 'variables/global';

html:has(div[class='app_redesigned']) {
  background-color: var(--text-redesigned);
  scrollbar-gutter: stable; /* решает проблему с прыгающей шириной контента при появлении/скрытии скролла */
}

body {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);
  min-height: 100vh;
}

.app_redesigned {
  background: var(--bg-redesigned);
  color: var(--text-redesigned);
  font: var(--font-m-redesigned);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.sb-container {
  padding: 16px;

  .app > *[class$='theme'] {
    background: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
    min-height: 100vh;
  }
}

/* Scroll bar redesigned */

*::-webkit-scrollbar {
  height: 6px; /* высота скролл бара */
  width: 6px;  /* ширина скролл бара */
}

*::-webkit-scrollbar-track {
  background: var(--light-bg-redesigned); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon-redesigned);   /* цвет ползунка */
  border: 1px solid var(--accent-redesigned); /* толщина обводки */
  border-radius: 20px;                        /* закругления для ползунка */
}

/* Scroll bar deprecated */

.app *::-webkit-scrollbar {
  height: 6px; /* высота скролл бара */
  width: 6px;  /* ширина скролл бара */
}

.app *::-webkit-scrollbar-track {
  background: var(--scroll-track-color); /* цвет дорожки */
}

.app *::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);  /* цвет ползунка */
  border: 1px solid var(--scroll-border-color); /* толщина обводки */
  border-radius: 20px;                          /* закругления для ползунка */
}

// скрываем прокрутку только в приложении (не в 'storybook')
@media screen and (max-width: 1800px) {
  body:has(> div[id='root']) {
    overflow: hidden;
  }
}
