/*

<div className="modal">            <div className="block">
    <div className="open" />   и      <div className="open" />
</div>                             </div>

В конечном бандле будет конфликт классов .open

Решения:
    1. БЭМ: .modal__element_open и .block__element_open

    2. CSS модули генерируют уникальные классы для .open:
    .WJfas66YqMo9vlVy3cDg и Xwga441YqMo9vXCy5tXb
*/

@import 'reset';

@import 'themes/normal';
@import 'themes/dark';

@import 'variables/global';

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);

  min-height: 100vh;
}
