/*

<div className="modal">            <div className="block">
    <div className="open" />   и      <div className="open" />
</div>                             </div>

В конечном бандле будет конфликт классов .open

Решения:
    1. БЭМ: .modal__element_open и .block__element_open

    2. CSS модули генерируют уникальные классы для .open:
    .WJfas66YqMo9vlVy3cDg и Xwga441YqMo9vXCy5tXb
*/

@import 'reset';

@import 'themes/normal';
@import 'themes/dark';
@import 'themes/orange';

@import 'variables/global';

body {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

// Scroll bar

*::-webkit-scrollbar {
  height: 8px; // высота скролл бара
  width: 12px; // ширина скролл бара
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); // цвет дорожки
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); // цвет ползунка
  border: 2px solid var(--primary-color);          // закругления для ползунка
  border-radius: 20px;                             // padding вокруг ползунка
}
