.toastWrapper { /* deprecated */
  inset: 10px 16px !important;
}

/*
  @keyframes [название_анимации] {
    [from | проценты] { ...стили }
    [to   | проценты] { ...стили }
  }
*/
@keyframes toast-enter {
  0% {
    opacity: 0;
    transform: translateY(10px); /* сдвигаем уведомление вниз на '10px' на старте анимации */
  }

  100% {
    opacity: 1;
    transform: translateY(0); /* поднимает уведомление на начальную позицию в конце анимации */
  }
}

.toast {
  /*
    animation: [название_анимации] [продолжительность] [animation-fill-mode] [функция_для_анимации];

   'animation-fill-mode' определяет: какие стили должны применяться, когда анимация не проигрывается, например,
    после её завершения или при остановке

    в момент окончания анимации стили элемента возвращаются к исходным (поведение по умолчанию)

   'animation-fill-mode: forwards' - оставляет стили на момент завершения анимации

    описание механизма работы: https://webref.ru/css/animation-fill-mode
  */
  animation: toast-enter 1s forwards ease;
  line-height: 6px;
  max-width: 400px;
  pointer-events: none; /* иначе уведомление прыгает при фокусе */

  &.deprecated {
    background: var(--inverted-bg-color);
    border: 1px solid var(--bg-color);
    color: var(--inverted-primary-color);
  }

  &.redesigned {
    background: var(--bg-redesigned);
    border: 1px solid var(--cancel-redesigned);
    color: var(--text-redesigned);
  }
}
