.check {
  color: var(--accent-redesigned);
  font-size: 12px;
}

.item {
  cursor: pointer;
  padding: 10px 20px;
}

.options {
  background-color: var(--dark-bg-redesigned);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  position: absolute;
  z-index: var(--menu-z-index);
}
