.check {
  fill: var(--primary-color);
  font-size: 12px;
}

.disabled {
  opacity: .8;
}

.item {
  padding: 10px 20px;
}

.options {
  background-color: var(--dark-bg-redesigned);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  position: absolute;
  z-index: var(--menu-z-index);
}

.trigger {
  background: none;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;

  :hover {
    opacity: .7;
  }
}
