.InputWrapper {
  display: flex;
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

/*
  @keyframes [название_анимации] {
    [from | проценты] { ...стили }
    [to   | проценты] { ...стили }
  }
*/
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .01;
  }

  100% {
    opacity: 1;
  }
}

.caret {
  /*
    animation: [название_анимации] [продолжительность] [animation-fill-mode] [количество_повторений_анимации];

   'animation-fill-mode' определяет: какие стили должны применяться, когда анимация не проигрывается, например,
    после её завершения или при остановке

    в момент окончания анимации стили элемента возвращаются к исходным (поведение по умолчанию)

   'animation-fill-mode: forwards' - оставляет стили на момент завершения анимации

    можно потестировать поведение, задавая:
    - animation: blink .7s forwards 2;
    - animation: blink .7s 2;

    описание механизма работы: https://webref.ru/css/animation-fill-mode
  */
  animation: blink .7s forwards infinite;
  background: var(--primary-color);
  bottom: 0;
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 9px;
}

.fullWidth {
  display: inline-block;
  text-overflow: ellipsis;
  width: 100%;
}

.input {
  background: transparent;
  border: none;
  color: transparent;
  outline: none;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.placeholder {
  margin-right: 5px;
}

.readonly {
  opacity: .7;
}
