:root {
  --font-family-main: Consolas, 'Times New Roman', Serif;
  --font-family-header-redesigned: 'Roboto', sans-serif;
  --font-family-text-redesigned: 'Nunito Sans', sans-serif;

  /* --- Before redesign --- */

  /* Small font size */

  --font-line-s: 20px; /* Обычно 'line-height' больше на '8px' чем 'font-size' */
  --font-size-s: 12px;

  /* свойство-сокращение 'font': fontSizeValue / fontLineHeightValue fontFamilyValue */
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main); /* 12px / 20px Consolas */

  /* Medium font size */

  --font-line-m: 24px;
  --font-size-m: 16px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  /* Large font size */

  --font-line-l: 32px;
  --font-size-l: 24px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  /* Extra large font size */

  --font-line-xl: 40px;
  --font-size-xl: 32px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  /* --- Redesigned --- */

  /* Small font size */
  --font-s-redesigned: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);

  /* Medium font size */
  --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);

  /* Large font size */
  --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-header-redesigned);

  /* Extra large font size */
  --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header-redesigned);

  /* Размеры */

  --navbar-height: 50px;

  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  /* Цвета */

  --overlay-color: rgba(0 0 0 / 60%);

  /* Z-индексы */

  --menu-z-index: 10000;
  --modal-z-index: 1000;
  --overlay-z-index: 100;
  --sidebar-btn-z-index: 10;
  --z-index-two: 2;
  --z-index-one: 1;
}
