.Code {
  background-color: var(--code-bg);
  border: 1px solid var(--primary-color);
  padding: 20px;
  overflow: auto;

  .copyButton {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

// Redesigned

.CodeRedesigned {
  background-color: var(--light-bg-redesigned);
  border: 1px solid var(--accent-redesigned);
  border-radius: 16px;
  padding: 20px;
  overflow: auto;

  & > button {
    position: absolute;
    right: 0;
    top: 0;
  }

  @media screen and (max-width: 1280px) {
    max-width: calc(100vw - 140px);
  }
}
