.Code {
  background-color: var(--code-bg);
  border: 1px solid var(--primary-color);
  padding: 20px;
  position: relative;
  overflow: auto;
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.copyIcon {
  path {
    stroke: var(--primary-color);
  }
}

// Redesigned

.CodeRedesigned {
  background-color: var(--light-bg-redesigned);
  border: 1px solid var(--accent-redesigned);
  border-radius: 16px;
  padding: 20px;
  position: relative;
  overflow: auto;
}
