.ArticleDetails {
  min-height: 100%;
}

.avatar {
  margin: 0 auto;
}

.img {
  max-height: 420px;
  width: 100%;
}

// скрываем скелетоны только в приложении (не в storybook)
@media screen and (max-width: 1800px) {
  body:has(> div[id='root']) {
    .skeleton {
      display: none;
    }
  }
}

@media screen and (max-width: 840px) {
  .stack {
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .subtitle h2 {
    font: var(--font-m-redesigned) !important;
  }

  .title h1 {
    font: var(--font-l-redesigned) !important;
  }
}

@media screen and (max-width: 480px) {
  .img {
    height: 100px;
    width: 100px;
  }
}
