.Drawer {
  align-items: flex-end;
  display: flex;

  /* выставляем '0' сразу для 'top', 'right', 'bottom', 'left' и заполняем все доступное пространство родителя */
  inset: 0;
  position: fixed;
  z-index: var(--overlay-z-index);
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);
}

.sheet {
  border-radius: 12px 12px 0;
  left: 2vw;
  padding: 15px;
  position: fixed;
  touch-action: none; /* отключаем обработку в браузере всех жестов панорамирования и масштабирования */
  width: 96vw;
  z-index: var(--modal-z-index);
}

.drawerNew {
  .sheet {
    background-color: var(--light-bg-redesigned);
  }
}

.drawerOld {
  .sheet {
    background-color: var(--bg-color);
  }
}
