# Позволяет уменьшить бандл, избавляясь от ненужных полифиллов от 'Babel'

# Поддерживаемые браузеры в зависимости от режима

[production]
defaults
not Safari < 17
not iOS < 17

[development]
last 2 Chrome versions
last 2 Firefox versions
last 1 Safari version
