# Git будет всегда преобразовывать окончания строк в LF при извлечении.
# Этот вариант следует использовать для файлов, которые должны поддерживать окончания LF, даже в Windows

.loki/* binary
* text eol=lf
