# Git будет всегда преобразовывать окончания строк в LF при извлечении
# Этот вариант следует использовать для файлов, которые должны поддерживать окончания LF, даже в Windows

# text - Файлы будут нормализованы (CRLF сконвертируется к LF)

# binary - Файлы будут проигнорированы нормализацией
# Иначе .png файлы в GitHub будут выдавать "Invalid file signature" ошибку

*.png binary

\!*.png text eol=lf
