# 'Git' преобразовывает окончания строк к 'LF' в 'Unix' системах или к 'CRLF' в 'Windows' при извлечении файлов

# binary - файлы изображений будут проигнорированы нормализацией, оставляем поведение по умолчанию,
# иначе '.png' файлы в 'GitHub' будут выдавать 'Invalid file signature' ошибку
*.png binary

# text - файлы будут нормализованы ('CRLF' сконвертируется к 'LF')
\!*.png text eol=lf
