.AboutPage {
  display: flex;
  font: var(--font-l);
  padding: 16px 24px;
}

@media screen and (max-width: 1800px) {
  .AboutPage {
    position: relative;
    top: 32px;
  }
}

@media screen and (max-width: 480px) {
  .AboutPage {
    font: var(--font-m-redesigned);
    padding-left: 0;
  }
}
