.AddCommentForm {
  border: 1px solid var(--primary-color);
  padding: 20px;
}

.input {
  display: flex;
  margin-right: 20px;
  overflow: hidden;
  width: 100%;
}

.loading {
  opacity: .7;
  pointer-events: none;
}

@media screen and (max-width: 1800px) {
  .card {
    width: calc(100% - 24px);
  }
}

@media screen and (max-width: 480px) {
  .stack {
    align-items: flex-start;
    flex-direction: column;
  }
}
