.AddCommentForm {
  align-items: center;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.input {
  display: flex;
  margin-right: 20px;
  overflow: hidden;
  width: 100%;
}

.loading {
  opacity: .7;
  pointer-events: none;
}
