.Sidebar {
  background-color: var(--inverted-bg-color);
  height: calc(100vh - var(--navbar-height));
  position: relative;
  transition: width .3s;
  width: var(--sidebar-width);

  .collapseBtn {
    bottom: 32px;
    position: absolute;
    right: -32px;
    z-index: var(--sidebar-btn-z-index);
  }

  .items {
    margin-left: 30px;
    margin-top: 20px;
  }

  .lang {
    margin-left: 20px;
  }

  .switchers {
    bottom: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .lang {
    margin-left: 0;
  }

  .switchers {
    align-items: center;
    flex-direction: column;
  }
}

// Redesigned

.SidebarRedesigned {
  background-color: var(--light-bg-redesigned);
  border-radius: 32px;
  height: 100%;
  position: relative;
  transition: width .1s ease-in;
  width: 220px;

  .appLogo {
    fill: var(--icon-redesigned);
    height: 80px;
    margin-left: 6px;
    width: 80px;
  }

  .collapseBtn {
    position: absolute;
    right: -14px;
    top: 50%;
    transform: rotate(90deg);
    z-index: var(--sidebar-btn-z-index);
  }

  .items {
    margin-top: 40px;
  }

  .switchers {
    bottom: 40px;
    display: flex;
    gap: 16px;
    padding-left: 24px;
    position: absolute;
    width: 100%;
  }
}

.collapsedRedesigned {
  width: 50px;
  transition: width .1s ease-out;

  .appLogo {
    margin-left: 2px;
  }

  .collapseBtn {
    position: absolute;
    right: -17px;
    top: 50%;
    z-index: var(--sidebar-btn-z-index);
    transform: rotate(-90deg);
  }

  .items {
    align-items: center;
    display: flex;
  }

  .lang {
    margin-left: 0;
  }

  .switchers {
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }
}
