.item {
  align-items: center;
  display: flex;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.collapsed {
  .link {
    opacity: 0;
    transition: .2s opacity;
    width: 0;
  }
}

// Redesigned

.collapsedRedesigned {
  .link {
    margin: 0;
    opacity: 0;
    width: 0;
  }
}
