.ArticleViewSelector {
  .icon {
    fill-opacity: .3;
  }

  .selected {
    fill-opacity: 1;
  }
}

// Redesigned

.ArticleViewSelectorRedesigned {
  .icon {
    color: var(--light-bg-redesigned);
    fill: var(--light-bg-redesigned);
  }

  .selected {
    color: var(--text-redesigned);
    fill: var(--text-redesigned);
  }
}

// задаем смещение только в приложении (не в storybook)
@media screen and (max-width: 1800px) {
  body:has(> div#root) {
    .ArticleViewSelectorRedesigned {
      position: absolute;
      top: -190px;
    }
  }
}
