.ArticleSortSelectorDeprecated {
  display: flex;
  gap: 8px;
}

// добавляем стили только в приложении (не в 'storybook')
@media screen and (max-width: 1800px) {
  body:has(> div[id='root']) {
    .stackRedesigned {
      flex-direction: row;
    }
  }
}

// добавляем стили только в приложении (не в 'storybook')
@media screen and (max-width: 480px) {
  body:has(> div[id='root']) {
    .stackRedesigned {
      flex-direction: column !important;
    }
  }
}
