.ArticleSortSelector {
  align-items: center;
  display: flex;
  gap: 8px;
}

// добавляем стили только в приложении (не в storybook)
@media screen and (max-width: 1800px) {
  body:has(> div[id='root']) {
    .stack {
      display: flex;
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 480px) {
  .stack {
    display: flex;
    flex-direction: column;
  }
}
