.NotFoundPage {
  align-items: center;
  display: flex;
  font: var(--font-l);
  height: 100%;
  justify-content: center;
  padding-top: 16px;
}

@media screen and (max-width: 1800px) {
  .NotFoundPage {
    position: relative;
    top: 26px;
  }
}

@media screen and (max-width: 840px) {
  .NotFoundPage {
    font: var(--font-m-redesigned);
    justify-content: flex-start;
    top: 32px;
  }
}

@media screen and (max-width: 360px) {
  .NotFoundPage {
    font: var(--font-s-redesigned);
    top: 33px;
  }
}
