.plate {
  display: flex;
  gap: 30px;

  .card {
    display: inline-flex;
    height: 300px;
  }
}

.inline {
  overflow-x: auto;
  width: 100%;
}

.rowDeprecated {
  display: flex;
  gap: 30px;
}

// Redesigned

.inlineRedesigned {
  overflow-x: auto;
}

.rowRedesigned {
  gap: 16px;

  &.list {
    .card {
      width: 100%;

      & > div {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .inlineRedesigned {
    width: 730px;
  }
}

@media screen and (max-width: 840px) {
  .inlineRedesigned {
    width: 483px;
  }
}

@media screen and (max-width: 640px) {
  .inlineRedesigned {
    width: 233px;
  }
}
