.list {
  .card {
    margin-bottom: 30px;
  }
}

.plate {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;

  .card {
    display: inline-flex;
    height: 300px;
  }
}

.inline {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.rowDeprecated {
  display: flex;
  gap: 30px;
}
// Redesigned

.listRedesigned {
  .card {
    margin-bottom: 30px;
  }
}

.plateRedesigned {
  display: flex;
  flex-wrap: nowrap;

  .card {
    display: inline-flex;
    height: 300px;
  }
}

.inlineRedesigned {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 101%;
}

.rowRedesigned {
  display: flex;
  gap: 16px;
}
