.list {
  display: flex;
  height: calc(100% - 30px);

  .card {
    width: calc(100% - 6px);
  }

  .date {
    margin-left: auto;
  }

  .footer {
    align-items: center;
    display: flex;
    margin-top: 16px;
  }

  .header {
    align-items: center;
    display: flex;
  }

  .image {
    margin: 16px;
    max-height: 250px;
    object-fit: contain;
    width: 100%;
  }

  .textBlock {
    max-height: 208px;
    overflow-y: hidden;
  }

  .title {
    margin-top: 8px;
  }

  .types p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 115px;
  }

  .username {
    margin-left: 8px;
  }

  .views {
    margin-left: auto;
  }
}

.plate {
  cursor: pointer;
  transition: .2s; // плавный переход при увеличении карточки при наведении
  width: 230px;

  .date {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    opacity: .8;
    transform: scale(1.01); // увеличение карточки при наведении

    .date {
      display: block;
    }
  }

  .imageWrapper {
    height: 200px;
    position: relative;
    width: 200px;
  }

  .image {
    height: 200px;
    object-fit: contain;
    width: 200px;
  }

  .infoWrapper {
    align-items: center;
    display: flex;
    margin-top: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }

  .types p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 115px;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }
}
