.stack {
  min-height: 40px;
}

@media screen and (max-width: 840px) {
  .stack {
    align-items: flex-start;
    gap: 12px;
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  .buttonsStack {
    align-items: flex-start;
    gap: 12px;
    flex-direction: column;
  }
}
