.PageError {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.deprecated {
  background-color: var(--card-bg);
}

.redesigned {
  background-color: var(--bg-redesigned);
}
