.popup {
  position: relative;
}

.active {
  background: var(--light-bg-redesigned) !important;
}

.disabled {
  cursor: not-allowed !important;
  opacity: .8;
}

.menu {
  border: 1px solid var(--accent-redesigned);
  border-radius: 18px;
  overflow: hidden;
}

.optionsBottomLeft {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  left: 0;
  top: 44px;
}

.optionsBottomRight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  right: 0;
  top: 44px;
}

.optionsTopLeft {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 120%;
  left: 0;
}

.optionsTopRight {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 120%;
  right: 0;
}

.selected {
  background-color: var(--light-bg-redesigned);
}

.trigger {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}
