.content {
  height: 100%;
}

.header {
  margin: 8px 8px 0 0;
  padding: 16px 8px;
}

.sidebar {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

// применяем стили только в приложении (не в 'storybook')
@media screen and (max-width: 1800px) {
  body:has(> div[id='root']) {
    .content > div {
      height: 48px !important;
      left: 8px;
      position: absolute;
      top: 8px;
      width: calc(100% - 16px) !important;
    }
  }
}
