.content {
  height: 100%;
}

.header {
  margin-right: 32px;
  padding: 16px;
}

// скрываем только в приложении (не в storybook)
@media screen and (max-width: 1800px) {
  body:has(> div#root) {
    .layout {
      display: none;
    }
  }
}
