.ListBox {
  position: relative;
}

.active {
  background-color: var(--inverted-primary-color);
}

.check {
  fill: var(--primary-color);
  font-size: 12px;
}

.disabled {
  opacity: .8;
}

.item {
  padding: 10px 20px;
}

.options {
  background-color: var(--listbox-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  position: absolute;
  z-index: 10000;
}

.optionsBottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: 44px;
}

.optionsTop {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 120%;
}

.trigger {
  background: none;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;

  :hover {
    opacity: .7;
  }
}
