// добавляем отступ только в приложении (не в storybook)
@media screen and (max-width: 1800px) {
  body:has(> div[id='root']) {
    .ProfilePage {
      height: calc(87vh - 160px);
      padding-right: 16px;
      position: relative;
      top: 100px;
    }
  }
}
