.skeleton {
  background-color: var(--icon-redesigned);
  box-shadow: 0 2px 10px var(--icon-redesigned);
  opacity: .5;
}

.text {
  display: inline-block;
  white-space: nowrap;
}

@media screen and (max-width: 840px) {
  .stack {
    align-items: flex-start;
    flex-direction: column;
  }
}
