.ArticlesPage {
  min-height: 100%;

  .list {
    margin-top: 30px;
  }
}

// добавляем отступ только в приложении (не в storybook)
@media screen and (max-width: 1800px) {
  body:has(> div[id='root']) {
    .ArticlesPage {
      height: calc(87vh - 300px);
      position: relative;
      top: 240px;
    }
  }
}

@media screen and (max-width: 840px) {
  .ArticlesPage {
    height: calc(87vh - 320px);
    top: 264px !important;
  }
}

@media screen and (max-width: 510px) {
  .ArticlesPage {
    height: calc(87vh - 220px);
    top: 286px !important;
  }
}
