.list {
  margin-right: 5.5px;
  width: 100%;

  .date {
    margin-left: auto;
  }

  .footer {
    align-items: center;
    display: flex;
    margin-top: 16px;
  }

  .header {
    align-items: center;
    display: flex;
  }

  .image {
    margin: 16px;
    max-height: 250px;
    object-fit: contain;
    width: 100%;
  }

  .imageFallback {
    left: 16px;
    margin: 16px auto 0;
  }

  .textBlock {
    min-height: 205px;
    max-height: 205px;
    overflow-y: hidden;
  }

  .title {
    margin-top: 8px;
  }

  .types {
    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 115px;
    }
  }

  .username {
    margin-left: 8px;
  }

  .views {
    margin: 0 4px 0 auto;
  }
}

.plate {
  transition: .2s; /* при наведении карточка увеличивается с плавным переходом */

  .date {
    display: none;
    position: absolute;
    right: 16px;
    top: 8px;
  }

  &:hover {
    transform: scale(1.01); /* увеличение карточки при наведении */

    .date {
      display: block;
    }
  }

  .imageWrapper {
    height: 200px;
  }

  .image {
    height: 200px;
    object-fit: contain;
    width: 200px;
  }

  .infoWrapper {
    align-items: center;
    display: flex;
    margin-top: 8px;
  }

  .title {
    margin-top: 8px;

    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 200px;
    }
  }

  .types {
    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 115px;
    }
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .viewsIcon {
    margin-bottom: 2px ;
  }
}
