.primary {
  color: var(--text-redesigned);

  svg {
    color: var(--icon-redesigned);
  }

  &:hover,
  &:hover svg {
    color: var(--accent-redesigned);
  }
}

.red {
  color: var(--cancel-redesigned);

  &:hover {
    opacity: .8;
  }
}
