.ArticleFormBlock {
  border-bottom: 1px solid var(--light-bg-redesigned);
  border-top: 1px solid var(--light-bg-redesigned);
  padding: 16px;
}

.paragraph {
  position: relative;
}

.removeParagraphIcon {
  position: absolute;
  right: 0;
  top: 0;
}
