.list {
  height: 648px;

  .image {
    max-height: 320px;
    object-fit: cover;
    width: 100%;
  }

  .subtitle > * {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 60px);
  }

  .textBlock {
    min-height: 75px;
    overflow-y: hidden;
  }

  @media screen and (max-width: 840px) {
    .subtitle > * {
      width: calc(100% - 260px);
    }
  }

  @media screen and (max-width: 480px) {
    .floor {
      flex-wrap: wrap;
      gap: 8px;
    }

    .subtitle > * {
      width: 170px;
    }
  }
}

.plate {
  cursor: pointer;
  transition: .2s; // плавный переход при увеличении карточки при наведении

  .avatar {
    margin-left: 8px;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 346px;
    overflow: hidden;
    padding: 0;
    width: 233px;
  }

  &:hover {
    opacity: .8;
    transform: scale(1.01); // увеличение карточки при наведении
  }

  .footer {
    height: 70px;
    justify-content: flex-end;
  }

  .image {
    min-height: 140px;
    max-height: 140px;
    object-fit: cover;
    width: 100%;
  }

  .info {
    height: 100%;
    padding: 8px 8px 16px 8px;
  }

  .title > * {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font: var(--font-l-redesigned);
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 218px;
    word-break: break-all;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }
}
