.list {
  .image {
    max-height: 320px;
    object-fit: cover;
    width: 100%;
  }

  .subtitle > * {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 60px);
  }

  .textBlock {
    height: 72px;
    overflow-y: hidden;
  }
}

.plate {
  cursor: pointer;
  transition: .2s; // плавный переход при увеличении карточки при наведении
  width: 100%;

  .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 350px;
    overflow: hidden;
    width: 240px;
  }

  &:hover {
    opacity: .8;
    transform: scale(1.01); // увеличение карточки при наведении
  }

  .footer {
    height: 100%;
    justify-content: flex-end;
  }

  .image {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }

  .info {
    height: 100%;
    padding: 8px 8px 16px 8px;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }
}
