.Overlay {
  align-items: center;
  background-color: var(--overlay-color);
  cursor: pointer;
  display: flex;

  /* выставляем '0' сразу для 'top', 'right', 'bottom', 'left' и заполняем все доступное пространство родителя */
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: var(--overlay-z-index);
}
