.Drawer {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);
}

.sheet {
  background-color: var(--bg-color);
  border-radius: 12px 12px 0;
  left: 2vw;
  padding: 15px;
  position: fixed;
  touch-action: none; // отключаем обработку в браузере всех жестов панорамирования и масштабирования
  width: 96vw;
  z-index: var(--modal-z-index);
}
