.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #E8E8EA;

  --primary-color: #04FF04;
  --secondary-color: #049604;

  --inverted-primary-color: #0232C2;
  --inverted-secondary-color: #0452FF;

  // Skeleton

  --skeleton-color: #1515AD;
  --skeleton-shadow: #2B2BE8;
}
