.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #E8E8EA;

  --primary-color: #04FF04;
  --secondary-color: #049604;

  --inverted-primary-color: #0232C2;
  --inverted-secondary-color: #0452FF;

  --red-light: #F1F1F3;
  --red-dark:  #E8E8EA;

  /* Redesigned */

  --dark-bg-redesigned: #090F11;
  --bg-redesigned: #0C1214;
  --light-bg-redesigned: #151C1F;
  --text-redesigned: #DBDBDB;
  --hint-redesigned: #555;
  --cancel-redesigned: #D95757;
  --save-redesigned: #6CD98B;
  --icon-redesigned: #74A2B2;
  --accent-redesigned: #5ED3F3;

  /* Card */

  --card-bg: #1212A1;

  /* Code */

  --code-bg: #1212A1;

  /* List box */

  --listbox-bg: #1212A1;

  /* Skeleton */

  --skeleton-color: #1515AD;
  --skeleton-shadow: #2B2BE8;

  /* Scroll */

  --scroll-border-color: #D5D5D7;
  --scroll-thumb-color: #049604;
  --scroll-track-color: #E8E8EA;
}
