.ArticleListItemSkeletonDeprecated {
  &.list {
    display: flex;
    height: calc(100% - 26px);
    width: 100%;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 5.5px);
    }

    .date {
      margin-left: auto;
    }

    .description {
      min-height: 205px;
    }

    .footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .header {
      align-items: center;
      display: flex;
    }

    .image {
      height: 250px;
      left: 16px;
      margin: 16px auto 0;
      width: 440px;
    }

    .subtitle {
      display: none;
    }

    .title {
      margin-top: 8px;
    }

    .username {
      margin-left: 8px;
    }
  }

  &.plate {
    width: 230px;

    .date,
    .userInfo,
    .views {
      display: none;
    }

    .imageWrapper {
      height: 200px;
      position: relative;
      width: 200px;
    }

    .image {
      height: 200px;
      width: 200px;
    }

    .infoWrapper {
      align-items: center;
      display: flex;
      margin-top: 16px;
    }

    .title {
      margin-top: 16px;
    }
  }
}

// Redesigned

.ArticleListItemSkeletonRedesigned {
  &.list {
    display: flex;
    height: 648px;
    width: 100%;

    .card {
      flex-direction: column;
      padding: 24px;
      width: 100%;
    }

    .date {
      display: none;
    }

    .description {
      margin: 4px 0 14px;
    }

    .footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      position: relative;
      top: 8px;
    }

    .header {
      align-items: center;
      display: flex;
    }

    .image {
      min-height: 320px;
      margin: 16px 0;
    }

    .subtitle {
      margin-bottom: 5px;
    }

    .title {
      margin: 20px 0 16px;
    }

    .username {
      margin-left: 8px;
    }
  }

  &.plate {
    width: 233px;

    .card {
      border-radius: 24px;
      display: block;
      height: 346px;
      overflow: hidden;
      padding: 0;
      width: 233px;

      /* скрываем скелетоны только в приложении (не в storybook) */
      @media screen and (max-width: 1800px) {
        body:has(> div[id='root']) {
          display: none;
        }
      }
    }

    .date {
      display: inline-block;
      margin: 54px 44px 8px 8px;
    }

    .image {
      height: 138px !important;
      width: 100% !important;
    }

    .infoWrapper {
      display: none;
    }

    .title {
      height: 32px !important;
      margin: 16px 8px;
      width: 218px !important;
    }

    .userInfo {
      margin: 0 8px 0 16px;
    }

    .views {
      display: inline-block;
      margin: 54px 4px 8px 8px;
    }
  }
}
