.ArticleListItemSkeletonDeprecated {
  &.list {
    display: flex;
    height: calc(100% - 30px);

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 5.5px)
    }

    .date {
      margin-left: auto;
    }

    .description,
    .review,
    .subtitle {
      display: none;
    }

    .footer {
      align-items: center;
      display: flex;
      margin-top: 16px;
    }

    .header {
      align-items: center;
      display: flex;
    }

    .image {
      margin: 16px 0;
      width: 100%;
    }

    .title {
      margin-top: 8px;
    }

    .username {
      margin-left: 8px;
    }
  }

  &.plate {
    width: 230px;

    .imageWrapper {
      height: 200px;
      position: relative;
      width: 200px;
    }

    .image {
      height: 200px;
      width: 200px;
    }

    .infoWrapper {
      align-items: center;
      display: flex;
      margin-top: 16px;
    }

    .title {
      margin-top: 16px;
    }
  }
}

// Redesigned

.ArticleListItemSkeletonRedesigned {
  &.list {
    display: flex;
    height: 648px;
    width: 100%;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 24px;
      width: 100%;
    }

    .date {
      display: none;
    }

    .description {
      margin: 6px 0 14px 0;
    }

    .footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      & > div {
        height: 320px;
      }
    }

    .header {
      align-items: center;
      display: flex;
    }

    .image {
      height: 320px !important;
      margin: 16px 0;
      width: 100%;
    }

    .subtitle {
      margin-bottom: 5px;
    }

    .title {
      margin: 20px 0 16px;
    }

    .username {
      margin-left: 8px;
    }
  }

  &.plate {
    width: 216px;

    .imageWrapper {
      height: 200px;
      position: relative;
      width: 200px;
    }

    .image {
      height: 200px;
      width: 200px;
    }

    .infoWrapper {
      align-items: center;
      display: flex;
      margin-top: 16px;
    }

    .title {
      margin-top: 16px;
    }
  }
}
