.ArticleListItemSkeletonDeprecated {
  &.list {
    display: flex;
    height: calc(100% - 26px);
    width: 100%;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 5px);
    }

    .date {
      margin-left: auto;
    }

    .description {
      min-height: 216px;
    }

    .footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .header {
      align-items: center;
      display: flex;
    }

    .image {
      height: 250px;
      left: 16px;
      margin: 16px auto 0;
      width: 440px;
    }

    .subtitle {
      display: none;
    }

    .title {
      margin-top: 16px;
    }

    .username {
      margin-left: 8px;
    }
  }

  &.plate {
    .date,
    .userInfo,
    .views {
      display: none;
    }

    .image {
      height: 200px;
      width: 200px;
    }

    .info {
      margin-top: 16px;
    }

    .title {
      height: 16px;
      margin-top: 16px;
      width: 150px;
    }
  }
}

// Redesigned

.ArticleListItemSkeletonRedesigned {
  &.list {
    display: flex;
    height: 648px;
    width: 100%;

    .card {
      flex-direction: column;
      padding: 24px;
      width: 100%;
    }

    .date {
      display: none;
    }

    .description {
      margin: 4px 0 8px;
    }

    .footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
    }

    .header {
      align-items: center;
      display: flex;
    }

    .image {
      min-height: 320px;
      margin: 16px 0;
    }

    .subtitle {
      margin-bottom: 5px;
    }

    .title {
      margin: 20px 0 16px;
    }

    .username {
      margin-left: 16px;
    }

    @media screen and (max-width: 400px) {
      .footer {
        & > :first-child {
          max-width: 100px;
        }
      }

      .subtitle,
      .title {
        max-width: 170px;
      }

      .username {
        max-width: calc(100% - 48px);
      }
    }
  }

  &.plate {
    .card {
      border-radius: 16px;
      display: block;
      height: 346px;
      overflow: hidden;
      padding: 0;
      width: 233px;
    }

    .date {
      display: inline-block;
      margin: 20px 44px 0 8px;
    }

    .image {
      height: 142px;
      width: 100%;
    }

    .info {
      display: none;
    }

    .title {
      height: 64px;
      margin: 16px 8px;
      width: 218px;
    }

    .userInfo {
      align-items: center;
      display: flex;
      gap: 8px;
      margin-left: 12px;
    }

    .username {
      margin-top: 2px;
    }

    .views {
      display: inline-block;
      margin: 20px 4px 0 8px;
    }

    @media screen and (max-width: 360px) {
      .card {
        width: 210px;
      }

      .title {
        height: 100px;
        width: 194px;
      }
    }
  }
}
