.ArticlesFilters {
  width: 264px;
}

.collapseBtn {
  display: none;
}

.loading {
  opacity: .7;
  pointer-events: none;
}

@media screen and (max-width: 1800px) {
  .ArticlesFilters {
    border-radius: 8px;
    padding: 12px;
    width: 100%;
  }

  .search {
    max-width: 300px;
  }

  .stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .tabs {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 840px) {
  .ArticlesFilters {
    min-height: inherit;
  }
}

@media screen and (max-width: 480px) {
  .tabs {
    display: flex;
    flex-direction: column;
  }

  .ArticlesFilters {
    height: 380px;
    overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out;

    &.collapsed {
      min-height: 60px;
      height: 60px;
      overflow: visible;

      .sort,
      .tabs {
        display: none;
      }
    }
  }

  .collapseBtn {
    bottom: -25px;
    color: var(--hint-redesigned);
    display: block;
    position: absolute;
    text-align: center;
    transform: rotate(180deg);
    width: 90vw;

    &.collapsed {
      bottom: -39px;
      transform: rotate(0deg);
    }
  }

  .stack {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    position: relative;
  }
}
