.loading {
  opacity: .7;
  pointer-events: none;
}

.search {
  margin-top: 16px;
}

.sortWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.tabs {
  margin-top: 16px;
}
