.item {
  align-items: center;
  background: none;
  border: none;
  color: var(--text-redesigned);
  cursor: pointer;
  display: flex;
  outline: none;
  white-space: nowrap;
  width: 100%;
}

.justifyLeft {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyRight {
  justify-content: flex-end;
}

.menu {
  background-color: var(--dark-bg-redesigned);
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--primary-color);
  position: absolute;
  z-index: var(--menu-z-index);
}

.size_s {
  height: 22px;
  padding: 16px 20px;
}

.size_m {
  height: 44px;
  padding: 10px 25px;
}
