.Page {
  flex-grow: 1; /* иначе список статей ужимается в режиме 'ArticleView.LIST' */
  flex-shrink: 100; /* иначе 'sidebar' скачет при загрузке или вытесняется страницей на малых экранах */
  height: calc(100vh - var(--navbar-height));
  padding: 20px 20px 20px 45px;
  overflow-y: auto;
}

.trigger {
  height: 20px;
  margin: 10px;
}

@media screen and (max-width: 640px) {
  .Page {
    left: 24px; /* иначе простые страницы 'AboutPage', 'MainPage' и т.д. прижимаются к сайдбару */
  }
}

// Redesigned

.PageRedesigned {
  height: 100%;
  overflow-y: auto;
}
