.SettingsPage {
  padding: 16px 24px;
}

@media screen and (max-width: 1800px) {
  .SettingsPage {
    position: relative;
    top: 32px;
  }
}

@media screen and (max-width: 640px) {
  .SettingsPage {
    left: 0 !important;
    padding: 0;
    top: 40px !important;

    &.authorized {
      top: 50px !important;
    }

    &.deprecated {
      left: 24px !important;
    }

    &.redesigned {
      left: -24px;
    }

    & > :first-child {
      gap: 16px;

      & > :last-child {
        gap: 8px;
      }
    }

    h2 {
      font: var(--font-m-redesigned) !important;
    }

    button,
    p {
      font: var(--font-s-redesigned) !important;
    }
  }
}

@media screen and (max-width: 480px) {
  .SettingsPage {
    & > :first-child {
      max-width: 132px;
    }
  }
}

@media screen and (max-width: 360px) {
  .SettingsPage {
    h2 {
      font: var(--font-s-redesigned) !important;
    }

    button,
    p {
      font-size: 10px !important;
    }

    button {
      height: 24px;
    }

    svg {
      height: 24px;
      width: 24px;
    }
  }
}

.content {
  min-height: 82vh;
}

