// добавляем отступ только в приложении (не в storybook)
@media screen and (max-width: 1800px) {
  body:has(> div[id='root']) {
    .SettingsPage {
      position: relative;
      top: 42px;
    }
  }
}

@media screen and (max-width: 480px) {
  .SettingsPage {
    top: 92px;
  }
}

