.MainLayout {
  display: grid;
  grid-template-areas: 'sidebar content rightBar';
  grid-template-columns: min-content 1fr 100px;
  min-height: 100vh;
}

.content {
  grid-area: content;
  justify-self: center;
  max-width: 1180px;
  padding: 32px;
  width: 100%;
}

.rightBar {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  grid-area: rightBar;
}

.sidebar {
  grid-area: sidebar;
  max-width: 284px;
  padding: 32px;
}

.rightBar,
.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
}

.toolbar {
  height: 100%;
  width: 100%;
}

// применяем стили только в приложении (не в storybook)
@media screen and (max-width: 1800px) {
  body:has(> div[id='root']) {
    .MainLayout {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .content {
      max-width: none;
      z-index: 1;
    }

    .rightBar {
      height: 40px;
      position: absolute;
      right: 0;
      top: 48px;
      z-index: 2;
    }

    .sidebar {
      display: flex;
      height: auto;
      max-width: none;
      padding: 8px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    .toolbar {
      bottom: -90vh;
      position: absolute;
    }
  }
}

@media screen and (max-width: 480px) {
  .rightBar {
    max-width: 80px;
  }
}
