.Modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--overlay-z-index);
}

.content {
  border-radius: 12px;
  max-width: 60%;
  padding: 20px;
  transform: scale(.5);
  transition: .3s transform;
  z-index: var(--modal-z-index);
}

.modalNew {
  .content {
    background-color: var(--light-bg-redesigned);
  }
}

.modalOld {
  .content {
    background-color: var(--bg-color);
  }
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

/*
  класс для анимации закрытия модального окна. должен быть в самом конце файла,
  иначе свойство 'transform' перепишется и не будет анимации на закрытие окна
*/
.isClosing {
  .content {
    transform: scale(.2);
  }
}
