.ArticleDetailsPage {
  min-height: 100%;
  overflow-x: hidden;
}

.commentTitle,
.recommendationTitle {
  margin-top: 20px;
}

.recommendations {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}
