.Navbar {
  align-items: center;
  background-color: var(--inverted-bg-color);
  display: flex;
  height: var(--navbar-height);
  padding: 20px 20px 20px 14px;
  width: 100%;

  .links {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;

    & > button:hover {
      color: var(--inverted-secondary-color) !important;
    }
  }
}

.actions {
  margin-left: auto;
  padding-top: 8px;
}

.createLink {
  margin-right: 24px;
}

.logoWrapper {
  display: flex;
  flex-grow: 1;
}

.logo {
  color: var(--inverted-primary-color);
  fill: var(--inverted-primary-color);
  height: 40px;
  pointer-events: none;
}

/*
  @keyframes [название_анимации] {
    [from | проценты] { ...стили }
    [to   | проценты] { ...стили }
  }
*/
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*
  проверяем: выставил ли пользователь предпочтения для показа анимации на своем устройстве и,
  в случае, если у пользователя нет предпочтений в показе анимации, - применяем анимацию

  Ссылка: https://doka.guide/a11y/prefers-reduced-motion/#zachem
*/
@media (prefers-reduced-motion: no-preference) {
  .logo {
    /* animation: [название_анимации] [количество_повторений_анимации] [продолжительность] [функция_для_анимации]; */
    animation: logo-spin infinite 20s linear;
  }
}

// Redesigned

.NavbarRedesigned {
  padding: 16px;

  .links {
    padding-top: 8px;

    & > button:hover {
      color: var(--accent-redesigned) !important;
    }
  }
}

.createLinkRedesigned {
  margin-top: 2px;
}

@media screen and (max-width: 360px) {
  .NavbarRedesigned {
    .links {
      button {
        font: var(--font-s-redesigned);
      }
    }
  }
}
