.Navbar {
  align-items: center;
  background-color: var(--inverted-bg-color);
  display: flex;
  height: var(--navbar-height);
  padding: 20px 20px 20px 14px;
  width: 100%;
}

.createLink {
  margin-right: 24px;
}

.actions,
.links {
  margin-left: auto;
  padding-top: 8px;
}

.logoWrapper {
  display: flex;
  flex-grow: 1;
}

.logo {
  color: var(--inverted-primary-color);
  fill: var(--inverted-primary-color);
  height: 40px;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

// Redesigned

.NavbarRedesigned {
  padding: 16px;
}

.createLinkRedesigned {
  margin-top: 2px;
}
