.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.Button {
  align-items: center;
  color: var(--text-redesigned);
  cursor: pointer;
  display: flex;
  padding: 8px 16px;

  &:hover {
    color: var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.addonLeft,
.addonRight {
  display: flex;
}

.clear {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.disabled {
  cursor: auto;
  opacity: .5;
  pointer-events: none;

  &:hover {
    color: var(--text-redesigned);
  }
}

.filled {
  background-color: var(--light-bg-redesigned);
  border: none;
  border-radius: 34px;
  outline: none;
}

.fullWidth {
  width: 100%;
}

.outline {
  background: none;
  border: 1px solid var(--icon-redesigned);
  border-radius: 34px;

  &:hover {
    border: 1px solid var(--accent-redesigned);
  }
}

.square {
  padding: 0;
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.square.m {
  height: var(--font-line-m);
  width: var(--font-line-m);
}

.square.l {
  height: var(--font-line-l);
  width: var(--font-line-l);
}

.square.xl {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
}

.withAddon {
  padding: 0 16px;
}
