.Button {
  color: var(--text-redesigned);
  cursor: pointer;
  padding: 6px 15px;

  &:hover {
    color: var(--accent-redesigned);
  }
}

.clear {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.disabled {
  cursor: auto;
  opacity: .5;
}

.fullWidth {
  width: 100%;
}

.outline {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.square {
  padding: 0;
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.square.m {
  height: var(--font-line-m);
  width: var(--font-line-m);
}

.square.l {
  height: var(--font-line-l);
  width: var(--font-line-l);
}

.square.xl {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
}
