.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.Button {
  align-items: center;
  color: var(--text-redesigned);
  cursor: pointer;
  display: flex;
  padding: 6px 16px;

  &.s {
    padding: 2px 12px;
  }
}

.addonLeft,
.addonRight {
  display: flex;
}

.clear {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.disabled {
  cursor: auto;
  opacity: .5;
  pointer-events: none;

  &:hover {
    color: var(--text-redesigned);
  }
}

.filled {
  background-color: var(--light-bg-redesigned);
  border: none;
  border-radius: 34px;
  outline: none;
}

.fullWidth {
  width: 100%;
}

.outline {
  background: none;
  border-radius: 34px;
  transition: all .2s ease-in-out;

  &.error {
    border: 2px solid var(--cancel-redesigned);

    &:hover {
      opacity: .6;

      .addonLeft svg,
      .addonRight svg {
        color: var(--cancel-redesigned);
      }
    }
  }

  &.normal {
    border: 2px solid var(--icon-redesigned);

    &:hover {
      opacity: .6;

      .addonLeft svg,
      .addonRight svg {
        color: var(--icon-redesigned);
      }
    }
  }

  &.success {
    border: 2px solid var(--save-redesigned);

    &:hover {
      opacity: .6;

      .addonLeft svg,
      .addonRight svg {
        color: var(--save-redesigned);
      }
    }
  }
}

.square {
  padding: 0;
}

.square > * {
  display: flex;
  justify-content: center;
  width: 100%;
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.square.m {
  height: var(--font-line-m);
  width: var(--font-line-m);
}

.square.l {
  height: var(--font-line-l);
  width: var(--font-line-l);
}

.square.xl {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
}

.withAddon {
  padding: 0 16px;
}
