.Card {
  padding: 24px;
}

.gap_0 {
  padding: 0;
}

.gap_8 {
  padding: 8px;
}

.gap_16 {
  padding: 16px;
}

.gap_24 {
  padding: 24px;
}

.max {
  width: 100%;
}

.light {
  background-color: var(--light-bg-redesigned);
}

.normal {
  background-color: var(--dark-bg-redesigned);
}

.outlined {
  outline: 1px solid var(--accent-redesigned);
}

.keen {
  border-radius: 2px;
}

.partial {
  border-radius: 4px;
}

.round {
  border-radius: 8px;
}
