.label {
  margin-right: 5px;
}

.option {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.readonly {
  opacity: .7;
  pointer-events: none;
}

.select {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  outline: none;
  padding: 2px 10px 2px 2px;
}
