.StarRatingDeprecated {
  .normal {
    fill: none; /* не закрашиваем звезды */
  }

  .starIcon {
    cursor: pointer;

    &.selected {
      cursor: auto;
    }
  }
}

// Redesigned

.StarRatingRedesigned {
  text-align: center;

  .hovered {
    fill: var(--icon-redesigned); /* закрашиваем звезды */
  }
}
