.TextAreaWrapper {
  align-items: center;
  border: 2px solid var(--icon-redesigned);
  border-radius: 16px;
  display: inline-flex;
  padding: 8px 16px;

  &:has(.fullWidth) {
    display: flex;
    width: 100%;
  }
}

.focused {
  border: 2px solid var(--accent-redesigned);
}

.fullWidth {
  display: inline-block;
  text-overflow: ellipsis;
  width: 100%;
}

.textarea {
  background: none;
  border: none;
  color: var(--text-redesigned);
  outline: none;

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.readonly {
  opacity: .7;
}
