.ProfileCard {
  border: 2px solid var(--inverted-bg-color);
  padding: 20px;
}

.input {
  margin-top: 10px;
}

.error,
.loading {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
}
