.ProfileCard {
  border: 2px solid var(--inverted-bg-color);
  padding: 20px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.error,
.loading {
  height: 300px;
}

.fullWidth {
  width: 100%;
}
