.DropDown {
  position: relative;
}

.active {
  background: var(--inverted-primary-color) !important;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}

.disabled {
  opacity: .8;
}

.item {
  align-items: center;
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  outline: none;
  white-space: nowrap;
  width: 100%;
}

.justifyLeft {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyRight {
  justify-content: flex-end;
}

.menu {
  background-color: var(--card-bg);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--primary-color);
  position: absolute;
  z-index: 10000;
}

.optionsBottomLeft {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  left: 0;
  top: 44px;
}

.optionsBottomRight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  right: 0;
  top: 44px;
}

.optionsTopLeft {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 120%;
  left: 0;
}

.optionsTopRight {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 120%;
  right: 0;
}

.size_s {
  height: 22px;
  padding: 16px 20px;
}

.size_m {
  height: 44px;
  padding: 10px 25px;
}
