.CommentCard {
  outline: 1px solid var(--primary-color);
  padding: 10px;
}

.avatarDeprecated {
  margin-right: 10px;
}

.headerDeprecated {
  align-items: center;
  display: flex;
}

.loading {
  outline: 1px solid transparent;
}

/* Redesigned */

.avatarRedesigned {
  margin-right: 20px;
}

.headerRedesigned {
  align-items: center;
  display: flex;
  padding: 12px 12px 4px;
}

.textRedesigned {
  margin: 4px 12px 8px;
}

@media screen and (max-width: 1800px) {
  .CommentCardRedesigned {
    width: calc(100% - 24px);
  }
}
