.MainPage {
  display: flex;
  font: var(--font-l);
  padding: 16px 24px;
}

@media screen and (max-width: 1800px) {
  .MainPage {
    position: relative;
    top: 32px;
  }
}

@media screen and (max-width: 640px) {
  .MainPage {
    font: var(--font-m-redesigned);
    padding-left: 0;
    top: 24px;

    &.authorized {
      top: 34px;
    }
  }
}

@media screen and (max-width: 360px) {
  .MainPage {
    font: var(--font-s-redesigned);
  }
}
