.check {
  font-size: 12px;
}

.item {
  cursor: pointer;
  padding: 10px 20px;
}

.options {
  background-color: var(--listbox-bg);
  box-shadow: 4px 4px 8px var(--listbox-bg);
  position: absolute;
  z-index: var(--menu-z-index);
}
