.check {
  fill: var(--primary-color);
  font-size: 12px;
}

.disabled {
  opacity: .8;
}

.item {
  cursor: pointer;
  padding: 10px 20px;
}

.options {
  background-color: var(--listbox-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  position: absolute;
  z-index: var(--menu-z-index);

  & > :first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  & > :last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.trigger {
  background: none;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;

  :hover {
    opacity: .7;
  }
}
