.InputWrapper {
  align-items: center;
  border: 2px solid var(--icon-redesigned);
  border-radius: 48px;
  display: flex;
  height: 32px;
  padding: 8px 16px;
  width: 100%;
}

.addonLeft,
.addonRight {
  display: flex;
}

.focused {
  border: 2px solid var(--accent-redesigned);

  .addonLeft svg,
  .addonRight svg {
    color: var(--accent-redesigned);
  }
}

.fullWidth {
  display: inline-block;
  text-overflow: ellipsis;
  width: 100%;
}

.input {
  background: none;
  border: none;
  color: var(--text-redesigned);
  outline: none;
  text-shadow: 0 0 0 var(--primary-color);

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.readonly {
  opacity: .7;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}
