.Card {
  border-radius: 12px;
  display: inline-flex;
  padding: 15px;
}

.max {
  width: 100%;
}

.normal {
  background-color: var(--card-bg);
}

.outlined {
  outline: 1px solid var(--primary-color);
}
