.StickyContentLayout {
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: min-content 1fr min-content;
}

.content {
  grid-area: content;
  justify-self: center;
  max-width: 1180px;
  padding: 0 16px;
  width: 100%;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.left,
.right {
  height: fit-content;
  position: sticky;
  top: 32px;
}

@media screen and (max-width: 1800px) {
  .content {
    position: sticky;
    top: 200px;
  }

  .left {
    left: 8px;
    position: fixed;
    top: 372px;
  }

  .right {
    left: 8px;
    position: fixed;
    right: 8px;
    top: 72px;
    width: calc(100% - 16px);
  }
}
